<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.ysu.edu.realtimeshare">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAPTURE_AUDIO_OUTPUT" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />


    <!--Market filtering-->
    <uses-feature android:name="android.hardware.wifi.direct" android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activity.WelcomeActivity"
            android:theme="@style/AppWelcome"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.LaunchActivity"
            android:theme="@style/AppWelcome"/>

        <activity android:name=".activity.MainActivity"/>

        <activity android:name=".activity.FileAddActivity"/>
        <activity
            android:name=".activity.FileListByTypeActivity"
            android:parentActivityName=".activity.FileAddActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.FileAddActivity" />
        </activity>

        <activity android:name=".activity.LocalStorageActivity"/>

        <activity
            android:name=".activity.SharedFileListActivity"
            android:label="@string/file_shared_list"
            android:parentActivityName=".activity.FileAddActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.FileAddActivity" />
        </activity>



        <activity android:name=".activity.AccessResourceActivity"/>
        <activity android:name=".activity.ScreenCaptureActivity"/>
        <activity android:name=".activity.VideoViewActivity"/>
        <activity android:name="io.vov.vitamio.activity.InitActivity"/>
        <activity android:name=".activity.MediaPlayerActivity"/>
            <!--android:configChanges="orientation|keyboardHidden|navigation"/>-->

        <activity
            android:name=".activity.ScreenCaptureFileActivity"
            android:label="@string/screen_capture_file_brows"
            android:parentActivityName=".activity.ScreenCaptureActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.FileAddActivity" />
        </activity>


        <service android:name=".service.InitService"/>
        <service android:name=".screenreplay.service.ScreenRecorderService"/>
        <service android:name=".httpserver.service.PlayFileService"/>
        <service android:name=".httpserver.service.HttpFileService"/>
        <service android:name=".librtsp.rtsp.RtspServer"/>


    </application>

</manifest>